@import url(https://fonts.googleapis.com/css?family=Noto+Serif+Display:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Arapey:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Parisienne:regular);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:regular,italic,700);

@import "tailwindcss";

body {
    font-family: 'Noto Serif Display', serif;
  }
  
  h1 {
    font-family: 'Arapey', serif;
  }

  .parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
  }
  